book_layout.sty
peeters_macros.sty
peeters_colorscheme.sty
peeters_figures.sty
peeters_tablebox.sty
peeters_layout.sty
peeters_braket.sty
peeters_layout_exercise.sty
macros_bm.sty
macros_cal.sty
macros_lcal.sty
macros_qed.sty
gabook.sty
matlab.sty
notes/phy485-optics/phy485.tex
notes/phy485-optics/Bibliography.bib
notes/phy485-optics/FrontBackmatter/DirtyTitlepage.tex
notes/phy485-optics/FrontBackmatter/Index.tex
notes/phy485-optics/FrontBackmatter/ContentsAndFigures.tex
notes/phy485-optics/FrontBackmatter/Bibliography.tex
notes/phy485-optics/FrontBackmatter/Titleback.tex
notes/phy485-optics/FrontBackmatter/Titlepage.tex
notes/phy485-optics/FrontBackmatter/copyright.tex
notes/phy485-optics/FrontBackmatter/Version.tex
notes/phy485-optics/currentBookCopyright.tex
notes/phy485-optics/mathematica.tex
notes/phy485-optics/backmatter.tex
!notes/phy485-optics/../figures/phy485-optics/fresnelAlternatePolarizationFig2.pdf
!notes/phy485-optics/../figures/phy485-optics/reflectionAtInterfaceUnlabelledFig1.pdf
!notes/phy485-optics/../figures/phy485-optics/reflectionAtInterfaceLabelledFig2.pdf
